@model GroupManager.Models.ServiceManagementModel

@{
    ViewBag.Title = "Service Management";
}

<center>

    <div>
        <h1>ServiceManagement</h1>
        <hr />


        @*<div>
            AccessToken @Model.AccessToken
        </div>*@
        <div>
            Score @Model.Score
        </div>
        <p class="text-danger">@ViewBag.Error</p>
    </div>
</center>


