
@{
    ViewBag.Title = "Secure API";
}

<center>
    <h1>Secure API</h1>
    <hr />

    <p>
        AccessToken:@ViewBag.AccessToken
    </p>
    <p>

    </p>
    <p class="text-danger">@ViewBag.Error</p>
</center>


